.Exercise--header {
  font-weight: 600;
}
.Exercise--slider-container {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.Exercise--slider {
  flex-grow: 1;
}
.Exercise--input {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 3em;
  margin-left: 20px;
}

